@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#root{
    position: absolute;
}


.anticon svg {
    width: 16px !important;
    height: 16px !important;
}

.ant-btn:hover, .ant-btn:focus, .ant-btn:active {
    text-decoration: none;
    background: #4A357D;
}