@import url(_reset.css);
@import url(_variaveis.css);
@import url(cabecalho.css);
@import url(home.css);
@import url(rodinha.css);

#root {
    width: 100%;
    margin: 0;
    text-align: center;
  }


body {
    font-family: var(--fonte-corpo);
    font-size: var(--tamanho-corpo);

    background-position: center;
}

.container {
    max-width: 1330px;
    text-align: center;
}

a {
    text-decoration: none;
}