@media screen and (min-width: 1440px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
    }
}

.logo img {
    margin: 30px 0px;
}

.principal {
    padding: 24px 16px;
    display: grid;
    gap: 16px;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #15191C;
    padding: 8px 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho__menu img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.cabecalho__logo {
    width: 120px;
}

.cabecalho__pag {
    display: none;
}

@media screen and (min-width: 1440px) {
    .cabecalho {
        background-color: #1D232A;
        display: grid;
        column-gap: 32px;
        grid-template-columns: 1fr auto;
        padding: 16px 60px;
        height: 80px;
        box-sizing: border-box;
        grid-column: 2;
    }

    .cabecalho__menu {
        display: none;
    }

    .cabecalho__logo {
        display: none;
    }

    .cabecalho__pag {
        display: flex;
        align-items: center;
        color: var(--branco);
        font-size: var(--tamanho-titulo);
        font-weight: var(--peso-destaque);
    }
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    background-color: #15191C;
    width: 75vw;
    height: 100vh;

    position: absolute;
    left: -100vw;
    transition: .25s;
}

.menu-lateral--ativo {
    left: 0;
    transition: .25s;
}

.menu-lateral__logo {
    align-self: center;
    padding: 16px;
    width: 205px;
}

.menu-lateral__link {
    height: 64px;
    color: #95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral__link--ativo {
    color: #FFFFFF;
    padding-left: 56px;
    border-left: 8px solid #FFFFFF;
}

.menu-lateral__link--ativo::before {
    filter: brightness(2);
}

.menu-lateral__link::before {
    content: "\e900";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
    background-repeat: no-repeat;
    background-size: contain;
}

.menu-lateral__link--inicio::before {
    content: "";
    background-image: url(inicio.png);
}

.menu-lateral__link--cadastro::before {
    content: "";
    background-image: url(cadastro.png);
}

.menu-lateral__link--agendamento::before {
    content: "";
    background-image: url(agendamento.png);
}

.menu-lateral__link--equipe::before {
    content: "";
    background-image: url(equipe.png);
}

@media screen and (min-width: 1440px) {
    .menu-lateral {
        position: static;
        width: 200px;
        grid-column: 1;
        grid-row: 1 / span 2;
    }

    .menu-lateral__logo {
        width: 100%;
    }
}

/*----------------------------------------------*/

.ant-layout-sider, .ant-layout-sider-children ul, .ant-layout-header {
    background-color: var(--cinza-medio-escuro) !important;
    border-right: none;
    color: var(--cinza-claro);
    height: 115%;
}

.ant-layout {
    height: 152%;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent !important;
}

.ant-menu-item-selected {
    color: var(--branco) !important;
}

.ant-menu-inline .ant-menu-item::after {
    border-right: none !important;
}

.ant-menu-item-selected a::before {
    border-left: 8px solid #FFFFFF !important;
}

.ant-menu-item-selected .icon-style {
    filter: brightness(2);
}

.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: var(--roxo-medio) !important;
}

.ant-layout-sider {
    display: none;
}

@media screen and (min-width: 768px) {
    .ant-layout-sider {
        display: block;
    }

    header span {
        display: none !important;
    }
}

.ant-layout-sider-collapsed {
    display: block;
        flex: 0 0 200px !important;
        max-width: 200px !important;
        min-width: 200px !important;
        width: 200px !important;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 0 0 0 24px !important;
    display: flex;
    align-items: center;
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span, .ant-menu.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon + span {
    opacity: 1 !important;
}

.ant-layout-header {
    padding: 0 15px !important;
}

.anticon svg {
    width: 2em;
    height: 2em;
}