.equipe__box--flex {
    display: flex;
}

.equipe--box {
    width: 300px;
    height: 300px;
    box-shadow: 10px 10px 30px rgba(74, 53, 125, 0.75);
    border-radius: 16px;
    margin: 60px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.equipe--box-img {
    width: 200px;
    height: 200px;
    background: black;
    border-radius: 50%;
    overflow: hidden;
}

img.img-tevo {
    margin-top: -50px;
}

.equipe--box h1 {
    font-family: var(--fonte-corpo);
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #202020;
    margin: 15px 0;
}

.equipe--box p {
    font-family: var(--fonte-corpo);
    font-size: 15px;
    line-height: 20px;
    color: #787878;
}