

.box--primeiro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 700px;
}

.texto--antes {
    font-size: 34px;
    width: 35%;
    background-color: var(--roxo-escuro);
    padding: 55px 25px;
    border-radius: 70px;
}

.texto--antes h1 {
    color: var(--branco);
}

.texto--antes p {
    margin-top: 15px;
}

.circle-orbit-container {
    position: relative;
    margin: 100px;
    width: 400px;
    height: 400px;
    left: -50px;
}

.inner-orbit {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 400px;
    height: 400px;
    border: 2px solid #4A437F;
    border-radius: 100%;
    animation: clockwiseRotate 35s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-orbit-cirlces {
    position: absolute;
    top: 62px;
    left: -6px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: #9F98E6;
}

.middle-orbit {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 430px;
    height: 430px;
    border: 2px solid #4A437F;
    border-radius: 100%;
}

.middle-orbit-cirlces {
    position: absolute;
    top: 25px;
    left: 17px;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #4A437F;
}

.outer-orbit {
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 460px;
    border: 2px solid #4A437F;
    border-radius: 100%;
}

.outer-orbit-cirlces {
    position: absolute;
    top: -17px;
    left: 125px;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #00FFCA;
}

.texto {
    padding: 30px 5px;
    background-color: var(--cinza-medio-claro);
    border-radius: 50%;
    width: 200px;
}

.orbit-icon {
    padding: 20px;
    width: 150px;
    font-size: 1.2em;
    height: 150px;
    border-radius: 50%;
    background: var(--roxo-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--branco);
}

.ring-0>*:nth-of-type(1) {
    transform: rotate(0) translate(13em) rotate(0);
}

.ring-0>*:nth-of-type(2) {
    transform: rotate(130deg) translate(16em) rotate(-130deg);
}

.ring-0>*:nth-of-type(3) {
    transform: rotate(210deg) translate(24em) rotate(-210deg);
}

.ring-0>*:nth-of-type(4) {
    transform: rotate(280deg) translate(21em) rotate(-280deg);
}

.ring-0 {
    width: 32em;
    height: 32em;
    animation: clockwiseRotate 35s linear infinite;
}

.ring-0 p,
.texto {
    animation: counterClockwiseRotate 35s linear infinite;
}

.ring-0 li {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.6em;
    height: 1.6em;
    margin: -0.8em;
}

/* ---------- Animation ---------- */


@keyframes clockwiseRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counterClockwiseRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* ---------- Media ---------- */

@media (max-width: 600px) {
    
    .orbita {
        height: 450px
    }
    
    .circle-orbit-container {
        height: 310px;
        width: 275px;
    }
    
    .inner-orbit {
        width: 200px;
        height: 200px
    }
    
    .orbit-img {
        width: 100px;
        height: 100px;
    }
    
    .middle-orbit {
        width: 230px;
        height: 230px;
    }
    
    .outer-orbit {
        width: 260px;
        height: 260px;
    }
    
    .ring-0 {
        width: 260px;
        height: 255px;
    }
     
    .orbit-icon {
        width: 80px;
        height: 80px;
    }
     
    .orbit-icon img {
        width: 35px;
    }
    .ring-0>*:nth-of-type(1) {
        transform: rotate(0) translate(7.5em) rotate(0);
    }
    
    .ring-0>*:nth-of-type(2) {
        transform: rotate(110deg) translate(8em) rotate(-110deg);
    }
    
    .ring-0>*:nth-of-type(3) {
        transform: rotate(175deg) translate(11.5em) rotate(-175deg);
    }
    
    .ring-0>*:nth-of-type(4) {
        transform: rotate(230deg) translate(13em) rotate(-230deg);
    }
    
    .ring-0>*:nth-of-type(5) {
        transform: rotate(285deg) translate(11em) rotate(-285deg);
    }
     
}



  