.orbit {
    font-family: var(--fonte-corpo);
    color: var(--branco)
    /*float: left;
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;*/
}

.orbit-icon {
    padding: 20px;
    width: 150px;
    font-size: 0.9em;
    height: 150px;
    border-radius: 50%;
    background: var(--roxo-escuro);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orbit-wrap {
    /*height: 40em;
    list-style: none;*/
    font-size: 1.3em;
}

.orbit-wrap>li {
    position: absolute;
    left: 37em;
    top: 23em;
    transform: translate(-50%, -50%);
}

.ring-0>*:nth-of-type(1) {
    transform: rotate(0) translate(9em) rotate(0);
}

.ring-0>*:nth-of-type(2) {
    transform: rotate(130deg) translate(12em) rotate(-130deg);
}

.ring-0>*:nth-of-type(3) {
    transform: rotate(210deg) translate(18em) rotate(-210deg);
}

.ring-0>*:nth-of-type(4) {
    transform: rotate(280deg) translate(15em) rotate(-280deg);
}

ul[class^=ring] {
    transition: all 300ms ease-in-out;
}

ul[class^=ring] li {
    transition: all 300ms ease-in-out;
}

.ring-0 {
    width: 25em;
    height: 25em;
    animation: clockwiseRotate 35s linear infinite;
}

.ring-0 p {
    animation: counterClockwiseRotate 35s linear infinite;
}

.ring-1 {
    width: 23em;
    height: 23em;
    animation: clockwiseRotate 30s linear infinite;
}

.ring-2 {
    width: 21em;
    height: 21em;
    animation: clockwiseRotate 25s linear infinite;
}

ul[class^=ring] {
    border: solid 1px var(--roxo-claro);
    position: relative;
    padding: 0;
    border-radius: 50%;
    list-style: none;
    box-sizing: content-box;
    box-shadow: none;
}

ul[class^=ring] li {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1.6em;
    height: 1.6em;
    margin: -0.8em;
}

/* center */
.orbit-center {
    z-index: 5;
    width: 210px;
    height: 210px;
    background: var(--roxo-escuro);
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.orbit-center:hover .orbit-center__icon {
    transform: rotateZ(0deg);
  }

  .orbit-wrap > li.orbit-center:hover ~ li > ul {
    width: 0;
    height: 0;
    
  }
  .orbit-wrap > li.orbit-center:hover ~ li > ul * {
    transform: translate(0, 0);
    opacity: 0;
  }

.orbit-center__icon {
    padding: 30px;
    transform: rotateZ(-360deg);
    transition: all 300ms ease-in-out;
}

.orbit-center__icon img {
    max-width: 100%;
}

/* animations */
@keyframes clockwiseRotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes counterClockwiseRotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media screen and (max-width: 1450px) {
    .orbit-wrap>li {
        left: 30em;
    }

    .rodinha {
        width: 715px;
    }
}